@import "../../styles/mixins.scss";

.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 7rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  width: 100%;

  @include breakpoint(md) {
    font-size: 5rem;
  }

  @include breakpoint(sm) {
    font-size: 4rem;
  }

  @include breakpoint(xs) {
    font-size: 3rem;
  }
}
