@import "../../styles/mixins.scss";

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "balustrades staircase-railings" "wickets fences" "custom .";

  @include breakpoint(xs) {
    grid-template-areas: "balustrades" "staircase-railings" "wickets" "fences" "custom";
  }
}

.fences {
  grid-area: fences;
}

.custom {
  grid-area: custom;
}

.wickets {
  grid-area: wickets;
}

.balustrades {
  grid-area: balustrades;
}

.staircase-railings {
  grid-area: staircase-railings;
}
