@import '../../styles/mixins.scss';

.section {
  margin: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "balustrades staircase-railings" "wickets fences";

  @include breakpoint(xs) {
    grid-template-areas: "balustrades" "staircase-railings" "wickets" "fences";
  }
}

.fences {
  grid-area: "fences";
}

.wickets {
  grid-area: "wickets";
}

.balustrades {
  grid-area: "balustrades";
}

.staircase-railings {
  grid-area: "staircase-railings";
}