.item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  cursor: default;

  &:hover {
    .overlay {
      opacity: 1;

      h2 {
        transform: translatey(0);
        opacity: 1;
      }

      a {
        transition-delay: 0.2s;
        transform: translatey(0);
        opacity: 1;
      }
    }
  }
}

.title {
  margin: 1rem 0;
}

.description {
  margin: 0;
}

.content {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.image {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  h2 {
    transform: translatey(-100px);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;
    padding: 10px;
  }

  a {
    display: inline-flex;
    opacity: 0;
    transition: translatey 0.2s ease-in-out;
    transition-delay: 0s;
    margin: 50px 0 0;
  }
}
