.section {
  margin: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "balustrady schodowe" "furtki ogrodzenia"
}

.ogrodzenia {
  grid-area: "ogrodzenia";
}

.furtki {
  grid-area: "furtki";
}

.balustrady {
  grid-area: "balustrady";
}

.schodowe {
  grid-area: "schodowe";
}