.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: var(--gray-shadow);
  opacity: 0.9;
  border-color: var(--black-lighter);
  font-weight: bold;
  padding: 2rem 12rem;
  color: var(--white);
  font-family: BrandonTextWeb-Bold,sans-serif;
}

.list {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.brand {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
