.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: .9;
  background-color: var(--gray-shadow);
  border-color: var(--black-lighter);
  padding: 0 2rem 0 2rem;
  color: var(--white)
}

.list {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 1rem 0;
}