@import '../../styles/mixins.scss';

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: var(--gray-shadow);
  opacity: 0.9;
  border-color: var(--black-lighter);
  color: var(--white);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(xs) {
    justify-content: flex-end;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.brand {
  padding: 1rem;
  text-transform: uppercase;

  @include breakpoint(xs) {
    display: none;
  }
}
