@import '../../styles/mixins.scss';

$lg-padding: 15px;
$lg-max-width: $breakpoint-lg - 2 * $lg-padding;
$md-max-width: $breakpoint-md - 2 * $lg-padding;
$sm-max-width: $breakpoint-sm - 2 * $lg-padding;
$xs-max-width: $breakpoint-xs - 2 * $lg-padding;

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $lg-padding;
  padding-right: $lg-padding;

  @include breakpoint(sm) {
    width: $breakpoint-sm - 2 * $lg-padding;
  }

  @include breakpoint(md) {
    width: $breakpoint-md - 2 * $lg-padding;
  }

  @include breakpoint(lg) {
    width: $breakpoint-lg - 2 * $lg-padding;
  }
}

