.footer {
  background-color: var(--black);
  color: var(--white);
  border-top: 3px solid var(--brand-color-main);
  padding: 2rem 2rem 2rem 2rem;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
}
