:root {
  --brand-color-main: #051622;
  --brand-color-lighter: #001f33;
  --brand-color-secondary: #1ba098;
  --white: #ffffff;
  --text-distinctive: #deb992;
  --gray-shadow: #222;
  --black: #000000;
  --black-lighter: #{lighten(#000000, 20%)};
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
